PORT=3000
NODE_ENV=development
SESSION_SECRET=secreto
JWT_SECRET=mi_secreto_super_seguro
DATABASE_URL=postgresql://postgres:1234@localhost:5432/trivia_db
RABBITMQ_URL=amqp://trivia:trivia1234@localhost:5672
SALA_TTL_MS=120000
RABBITMQ_RECONNECT_MS=5000
GOOGLE_CLIENT_ID=tu_client_id
GOOGLE_CLIENT_SECRET=tu_client_secret